<div class="container pt-5">
  <div class="row d-flex justify-content-center pt-5 mt-5">
    <div class="col-12 col-lg-6 ml-3 mt-4">
      <div class="row bg-info position-relative rounded">
        <div class="col-12 d-flex position-relative bg-info mt-4 rounded-top">
          <div class="col-12 mr-3 mt-3 mb-3 text-center">
            <h4><%= full_name(current_user) %></h4>
            <% if current_user.avatar.present? %>
                <%= image_tag(current_user.avatar.thumb.url, class: "rounded-circle mt-5 mb-5") %>
            <% else %>
                <%= image_tag('http://www.gravatar.com/avatar', width: 200, height: 200, class: "rounded-circle mt-5 mb-5") %>
            <% end %>
          </div>
        </div>

        <div class="col-12 bg-light pt-3 pb-3 rounded-bottom">
          <%= link_to 'Back', posts_path, class: "btn btn-primary text-white mr-1" %>
          <%= link_to 'Edit', edit_author_path(current_user), class: "btn btn-warning mr-1 d-inline-block float-right" %>
        </div>
      </div>
    </div>
  </div>
</div>