<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5>Name:</h5>
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="field">
    <h5>Title:</h5>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="field">
    <h5>Content:</h5>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field">
    <h5>Author:</h5>
    <%= form.select :author_name, Author.pluck(:last_name), class: "form-control" %>
  </div>

  <div class="field">
    <h5>Image url:</h5>
    <%= form.text_field :image, class: "form-control", placeholder: "Image url" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>
<% end %>
