<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <section class="col-7 pt-5">
      <h1>Posts: </h1>
        <div class="row ml-1">
          <% @posts.each do |post| %>
            <div class="d-flex position-relative">
                <%= image_tag(post.image, width: 200, height: 200) %>
                <div class = "pl-4">
                  <h5 class="mt-0"><%= post.title %></h5>
                  <p><%= post.content %></p>
                  <h4>Author: <%= post.author_name %></h4>
                  <%= link_to 'Show', post %>
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to 'New Post', new_post_path %>
                </div>
            </div>
          <% end %>
      </div>
    </section>
  </div>
</div>

