<div class="container pt-5">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-12">
      <h1> <%= @post.title.capitalize %></h1>
    </div>

    <div class="col-12 col-lg-12 ml-3 mt-4">
      <div class="row bg-info position-relative rounded">
        <div class="col-12 d-flex position-relative bg-info mt-4 rounded-top">
          <div class="col-12 mr-3 mt-3 mb-3 text-center">
            <p class="text-justify"><%= @post.content %></p>
            <%= image_tag(@post.image, width: 750, height: 450, class: "pl-3 mt-3 mb-3 rounded-left") %>
            <h4>Author: <%= @post.author.first_name %></h4>
            <p><i class="far fa-eye"></i> <%= @post.views_counter %>
              <i class="far fa-comments"></i> <%= @post.comments.published.count %></p>
          </div>
        </div>

        <div class="col-12 bg-light pt-3 pb-3 rounded-bottom">
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary text-white mr-1" %> |
          <%= link_to 'Back', posts_path, class: "btn btn-primary text-white mr-1" %>
          <label class="ml-3"><input type="checkbox" name="colorCheckbox" value="show"> Show unpublished comments</label>
        </div>
      </div>
    </div>
    <section class="published col-12 pt-5">
      <%= render 'comments/comments' if @post.comments.published.present? %>
    </section>
    <section class="show unpublished col-12 pt-5">
      <%= render 'comments/unpublished_comments' if @post.comments.unpublished.present? %>
    </section>
    <section class="col-12 pt-5 pb-5">
      <%= render 'comments/comments_form'%>
    </section>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.unpublished').hide();
            $('input[type="checkbox"]').click(function() {
                let inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            });
        });
    </script>
  </div>
</div>
