<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  </head>

  <body>
    <%= render 'layouts/navigation'%>
    <button type="button" id="modal_button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>
    <%= render 'layouts/modal_login' if current_user.nil? && show_modal? %>
    <%= yield %>
  </body>
</html>
